table img {
    width: 10px; /* Ancho más pequeño */
    height: 12px; /* Altura más pequeña */
    object-fit: cover; /* Ajusta la imagen dentro del área sin deformarla */
    border-radius: 50%; /* Mantiene las imágenes redondas */
    display: block;
    margin: 0 auto; /* Centra las imágenes */
}
